In [ ]:
Pedro Biain Alvarez 
uc2024170406@student.uc.pt

Dario Jose Iglesisas

In [1]:
import pandas as pd

# Carga las bases de datos de población y coordenadas
poblacion_df = pd.read_excel("poblacion.xlsx")  # Base de datos de población
poblacion_df = poblacion_df.iloc[6:].reset_index(drop=True)
poblacion_df = poblacion_df[1:]
poblacion_df.columns = ['Provincia','Total','Española','Extranjera']
poblacion_df = poblacion_df.iloc[:-8]
poblacion_df.tail()
#print(len(poblacion_df))

c:\Users\bykon\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

               Provincia    Total Española Extranjera
46  46 Valencia/València  2656841  2306155     350686
47         47 Valladolid   521333   487981      33352
48            48 Bizkaia  1153282  1054185      99097
49             49 Zamora   166927   159326       7601
50           50 Zaragoza   979365   846939     132426

In [2]:
provincias_nuevas = [
    'Álava', 'Albacete', 'Alicante', 'Almería', 'Asturias', 'Ávila', 'Badajoz', 'Barcelona',
    'Burgos', 'Cáceres', 'Cádiz', 'Cantabria', 'Castellón', 'Ciudad Real', 'Córdoba', 'Cuenca','Coruña, A',
    'Gerona', 'Granada', 'Guadalajara', 'Gipuzkoa', 'Huelva', 'Huesca', 'Islas Baleares', 'Jaén', 
    'La Rioja', 'Las Palmas', 'León', 'Lleida', 'Lugo', 'Madrid', 'Málaga', 'Murcia',
    'Navarra', 'Ourense', 'Palencia', 'Pontevedra', 'Salamanca', 'Segovia', 'Sevilla', 'Soria',
    'Tarragona', 'Santa Cruz de Tenerife', 'Teruel', 'Toledo', 'Valencia', 'Valladolid', 'Vizcaya', 'Zamora', 'Zaragoza'
]

# Reemplazar los valores de la columna 'provincia' con la lista de provincias
poblacion_df['Provincia'] = provincias_nuevas
poblacion_df.head(50)

                 Provincia    Total Española Extranjera
1                    Álava   336308   301302      35006
2                 Albacete   387529   356856      30673
3                 Alicante  1955268  1518766     436502
4                  Almería   753364   583918     169446
5                 Asturias   159764   146896      12868
6                    Ávila   666049   642287      23762
7                  Badajoz  1209906   962237     247669
8                Barcelona  5797356  4846649     950707
9                   Burgos   357370   324220      33150
10                 Cáceres   388257   372577      15680
11                   Cádiz  1254866  1195185      59681
12               Cantabria   604086   503118     100968
13               Castellón   491927   457054      34873
14             Ciudad Real   775002   748997      26005
15                 Córdoba  1123884  1068748      55136
16                  Cuenca   198436   172214      26222
17               Coruña, A   808672   637190     171482
18                  Gerona   934072   856467      77605
19                 Granada   275082   233675      41407
20             Guadalajara   726712   660601      66111
21                Gipuzkoa   534084   477639      56445
22                  Huelva   226878   194952      31926
23                  Huesca   620637   600652      19985
24          Islas Baleares   448573   425175      23398
25                    Jaén   447343   358987      88356
26                La Rioja   322282   277946      44336
27              Las Palmas   324267   304508      19759
28                    León  6871903  5830014    1041889
29                  Lleida  1752728  1438368     314360
30                    Lugo  1551692  1314926     236766
31                  Madrid   672155   591214      80941
32                  Málaga   304563   285080      19483
33                  Murcia  1006060   952488      53572
34                 Navarra   157787   149206       8581
35                 Ourense  1145843   991714     154129
36                Palencia   946710   901782      44928
37              Pontevedra   327089   308483      18606
38               Salamanca  1067173   906779     160394
39                 Segovia   588387   546676      41711
40                 Sevilla   155332   135317      20015
41                   Soria  1959394  1869197      90197
42               Tarragona    89528    79165      10363
43  Santa Cruz de Tenerife   848592   697156     151436
44                  Teruel   135046   118354      16692
45                  Toledo   731112   644114      86998
46                Valencia  2656841  2306155     350686
47              Valladolid   521333   487981      33352
48                 Vizcaya  1153282  1054185      99097
49                  Zamora   166927   159326       7601
50                Zaragoza   979365   846939     132426

In [3]:
df_provincias = pd.read_csv("provincias_actualizado.csv")  # Base de datos de coordenadas
df_provincias = df_provincias.iloc[:,:-3]
df_provincias.head(50)

                 Provincia  Latitud  Longitud
0                    Álava  42.8500   -2.6725
1                 Albacete  38.9940   -1.8585
2                 Alicante  38.3452   -0.4810
3                  Almería  36.8340   -2.4637
4                 Asturias  43.3610   -5.8494
5                      NaN      NaN       NaN
6                    Ávila  40.6560   -4.6999
7                  Badajoz  38.8795   -6.9707
8                Barcelona  41.3784    2.1926
9                   Burgos  42.3400   -3.6997
10                 Cáceres  39.4753   -6.3729
11                   Cádiz  36.5297   -6.2919
12               Cantabria  43.4623   -3.8043
13   Castellón de la Plana  39.9834   -0.0330
14             Ciudad Real  38.9833   -3.9333
15                 Córdoba  37.8882   -4.7794
16                  Cuenca  40.0735   -2.1367
17                  Gerona  41.9794    2.8213
18                 Granada  37.1773   -3.5986
19             Guadalajara  40.6333   -3.1667
20                Gipuzkoa  43.3183   -2.9340
21                  Huelva  37.2617   -6.9447
22                  Huesca  42.1401   -0.4080
23          Islas Baleares  39.5696    2.6502
24                    Jaén  37.7799   -3.7794
25                La Rioja  42.4687   -2.4448
26              Las Palmas  28.1235  -15.4367
27                    León  42.5987   -3.5670
28                  Lleida  41.6177    0.6226
29                    Lugo  43.0027   -7.5584
30                  Madrid  40.4168   -3.7038
31                  Málaga  36.7213   -4.4216
32                  Murcia  37.9835   -1.1296
33                 Navarra  42.8125   -1.6458
34                 Ourense  42.3358   -7.8633
35                Palencia  42.0080   -4.5235
36              Pontevedra  42.4385   -8.6445
37               Salamanca  40.9704   -5.6635
38  Santa Cruz de Tenerife  28.4636  -16.2519
39                 Segovia  40.9481   -4.1075
40                 Sevilla  37.3886   -5.9823
41                   Soria  41.7632   -2.4676
42               Tarragona  41.1189   -1.9812
43                  Teruel  40.3451   -1.1063
44                  Toledo  39.8628   -4.0273
45                Valencia  39.4699   -0.3763
46              Valladolid  41.6523   -4.7245
47                 Vizcaya  43.2630   -2.9340
48                  Zamora  41.5037   -5.7498
49                Zaragoza  41.6488   -0.8891

In [4]:
provincias_nuevas = [
    'Álava', 'Albacete', 'Alicante', 'Almería', 'Asturias', 'Ávila', 'Badajoz', 'Barcelona',
    'Burgos', 'Cáceres', 'Cádiz', 'Cantabria', 'Castellón', 'Ciudad Real', 'Córdoba', 'Cuenca','Coruña, A',
    'Gerona', 'Granada', 'Guadalajara', 'Gipuzkoa', 'Huelva', 'Huesca', 'Islas Baleares', 'Jaén', 
    'La Rioja', 'Las Palmas', 'León', 'Lleida', 'Lugo', 'Madrid', 'Málaga', 'Murcia',
    'Navarra', 'Ourense', 'Palencia', 'Pontevedra', 'Salamanca', 'Segovia', 'Sevilla', 'Soria',
    'Tarragona', 'Santa Cruz de Tenerife', 'Teruel', 'Toledo', 'Valencia', 'Valladolid', 'Vizcaya', 'Zamora', 'Zaragoza'
]

# Reemplazar los valores de la columna 'provincia' con la lista de provincias
df_provincias['Provincia'] = provincias_nuevas
df_provincias.head(50)

                 Provincia  Latitud  Longitud
0                    Álava  42.8500   -2.6725
1                 Albacete  38.9940   -1.8585
2                 Alicante  38.3452   -0.4810
3                  Almería  36.8340   -2.4637
4                 Asturias  43.3610   -5.8494
5                    Ávila      NaN       NaN
6                  Badajoz  40.6560   -4.6999
7                Barcelona  38.8795   -6.9707
8                   Burgos  41.3784    2.1926
9                  Cáceres  42.3400   -3.6997
10                   Cádiz  39.4753   -6.3729
11               Cantabria  36.5297   -6.2919
12               Castellón  43.4623   -3.8043
13             Ciudad Real  39.9834   -0.0330
14                 Córdoba  38.9833   -3.9333
15                  Cuenca  37.8882   -4.7794
16               Coruña, A  40.0735   -2.1367
17                  Gerona  41.9794    2.8213
18                 Granada  37.1773   -3.5986
19             Guadalajara  40.6333   -3.1667
20                Gipuzkoa  43.3183   -2.9340
21                  Huelva  37.2617   -6.9447
22                  Huesca  42.1401   -0.4080
23          Islas Baleares  39.5696    2.6502
24                    Jaén  37.7799   -3.7794
25                La Rioja  42.4687   -2.4448
26              Las Palmas  28.1235  -15.4367
27                    León  42.5987   -3.5670
28                  Lleida  41.6177    0.6226
29                    Lugo  43.0027   -7.5584
30                  Madrid  40.4168   -3.7038
31                  Málaga  36.7213   -4.4216
32                  Murcia  37.9835   -1.1296
33                 Navarra  42.8125   -1.6458
34                 Ourense  42.3358   -7.8633
35                Palencia  42.0080   -4.5235
36              Pontevedra  42.4385   -8.6445
37               Salamanca  40.9704   -5.6635
38                 Segovia  28.4636  -16.2519
39                 Sevilla  40.9481   -4.1075
40                   Soria  37.3886   -5.9823
41               Tarragona  41.7632   -2.4676
42  Santa Cruz de Tenerife  41.1189   -1.9812
43                  Teruel  40.3451   -1.1063
44                  Toledo  39.8628   -4.0273
45                Valencia  39.4699   -0.3763
46              Valladolid  41.6523   -4.7245
47                 Vizcaya  43.2630   -2.9340
48                  Zamora  41.5037   -5.7498
49                Zaragoza  41.6488   -0.8891

In [5]:
# Cruza ambas bases de datos en función de un campo común, como el nombre del municipio o código del INE
datos_mapeo = pd.merge(poblacion_df, df_provincias, on="Provincia")  # Ajusta el nombre de la columna de cruce
datos_mapeo.head(50)
datos_mapeo.to_csv('datos_mapeo.csv', index=False)